* {
  -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
     -moz-box-sizing: border-box; /* Firefox 1+ */
          box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

.main{
	width:1000px;
	min-height: 600px;
	border:solid 1px #00f;	
	margin: auto;
}

.topExtended{
	height: 265px;
	width: 100%;
	border:1px solid #f00;	
	position: absolute;
	background: #fff;
	z-index: -1;
}

.footerExtended{
	width: 100%;
	border:1px solid #0f0;	
}

footer{
	width:1000px;
	margin:  auto;
	height: 94px;
	border:1px solid #f00;	
}